<!DOCTYPE html>
<html>
  <body>
    <img
      src="cid:bikeImage"
      alt="vit:bikes"
      style="display: block; padding: 10px; background-color: #312923;"
      height="160"
    />

    {{{body}}} 

    <br/><br/><br/>

    {{{footer}}}
  </body>
</html>
