<html>
  <body>
    <img
      src='cid:bikeImage'
      class='center autowidth'
      align='center'
      border='0'
      alt='vit:bikes'
      style='text-decoration: none; -ms-interpolation-mode: bicubic; border: 0; display: block; padding:10px; background-color:#312923;'
      height='160px'
    />
    <p>Hallo {{name}},</p>
    <p>vielen Dank für deine Teilnahme an unserer
      <strong>Hot Wheels Aktion</strong>
      bei vit:bikes Berlin-Brandenburg!</p>
    <p>Du hast folgenden Gutschein erhalten,</p>
    <h2 style='font-size:24px;'>{{code}}</h2>
    <p>Dein Barcode: {{barCode}}</p>
    <img
      src='cid:barcodeImage'
      alt='Barcode'
      style='width:600px; max-width:100%; height:auto;'
    />
    <p>
      Du kannst ihn bis einschließlich 28.06.2025 du
      <strong>vor Ort im Store</strong>
      einlösen:<br />
      <strong>vit:bikes Berlin-Brandenburg</strong><br />
      Iserstraße 8–10, Biomalz-Fabrik (Haus 3)<br />
      14513 Teltow<br />
      Öffnungszeiten: Di–Fr: 10–19 Uhr, Sa: 10–16 Uhr
    </p>
    <p>
      Zeig deinen Gutschein einfach an der Kasse vor – wir freuen uns auf deinen
      Besuch!
    </p>
    <p>Viele Grüße,<br />Dein vit:bikes Team</p>
    <em style='font-size:small; color:gray;'>
      Teilnahmebedingungen: Pro Haushalt und Einkauf ist nur ein Gutschein
      einlösbar. Barauszahlung ist nicht möglich. Gültig für Neukäufe bis
      einschließlich<br />
      <strong>28.06.2025</strong>. Gutschein bitte
      <strong>vor dem Kassieren</strong>
      an der Kasse vorlegen.
      <strong>Nicht kombinierbar</strong>
      mit weiteren Rabattaktionen, Angeboten oder Gutscheinen. Nur
      <br />
      gültig bei
      <strong>vit:bikes Berlin-Brandenburg</strong>.
    </em>
  </body>
</html>